.background {
  margin: auto;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
}

.encabezado {
  height: 120px;
  background-color: #00bcd4;
}

.cuerpo {
  background-color: white;
  padding: 5%;
}

.cuerpo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 50px;
  left: 50px;


}

.editar_perfil{
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}